   /* --- Reset dan dasar --- */
    body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-image:url(christmas-background-1190254.jpg);
      background-size: cover;
    }

    /* --- Navbar --- */
    nav {
      background-color: #1e1e2f;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px;
      color: white;
      box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    }

    .logo {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .menu {
      display: flex;
      gap: 30px;
    }

    .menu a {
      color: rgb(26, 212, 219);
      text-decoration: none;
      font-weight: 500;
      transition: 0.3s;
    }

    .menu a:hover {
      color: #2413db;
    }

    /* --- Hero section --- */
    .hero {
      text-align: center;
      padding: 100px 20px;
      background: linear-gradient(to right, #ef01bb, #00b4d8);
      color: rgb(255, 255, 255);
    }

    .hero h1 {
      font-size: 2.5em;
      margin-bottom: 10px;
    }

    .hero p {
      font-size: 1.1em;
    }

    /* --- Konten utama --- */
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 40px;
      gap: 30px;
    }

    .card {
      background: rgb(227, 227, 227);
      border-radius: 16px;
      width: 800px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      text-align: center;
      transition: transform 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card h3 {
      color: #2c7ba5;
    }

    footer {
      text-align: center;
      background-color: #1e1e2f;
      color: white;
      padding: 15px;
      margin-top: 40px;
    }
